{% extends "layout.html" %}

    {% block body %}
      <h2>Close Service</h2>
      <br><br>
      <div class="ser-hist-div">
        <!--<div>{{serv_data.service_uid}}</div>-->
        <b>Package Name: </b> {{serv_data.package_name}}<br>
        <b>Price: </b> {{serv_data.price}}<br>
        <b>Duration: </b> {{serv_data.duration}} Hours<br>
        <b>Professional Name: </b> {{serv_data.prof_name}}<br><br>
        </div>
        <br>
            <h3>Rating</h3>
            <form action= "/close/{{serv_data.service_uid}}" method="post">
            <div class="star-rating">
                <input type="radio"  name="rating" value="1" />
                <label for="star1" title="1 star">1★</label><br>

                <input type="radio"  name="rating" value="2" />
                <label for="star2" title="2 stars">2★</label><br>

                <input type="radio"  name="rating" value="3" />
                <label for="star3" title="3 stars">3★</label><br>

                <input type="radio"  name="rating" value="4" />
                <label for="star4" title="4 stars">4★</label><br>

                <input type="radio"  name="rating" value="5" />
                <label for="star5" title="5 stars">5★</label><br>
                
            </div>
          <h3>Remarks (if any)</h3>
          <textarea id="remarks" name="remarks"></textarea>
          <br>
          <input type="submit" value="Close" >
        </form>
        
      
    {% endblock %}
{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cust_close.css') }}"> 
<script src="{{ url_for('static', filename='js/cust_close.js') }}"></script>
<script>
    
    const uid = "{{serv_data.service_uid}}"
</script>
{% endblock %}