{% extends "layout.html" %}

    {% block body %}
      <h2>Profile</h2>
      <b>Name: </b> {{data.name}}<br>
      <b>Email: </b> {{data.email}}<br>
      <b>Phone: </b> {{data.phone}}<br>
      <b>Address: </b> {{data.address}}<br>
      <b>Service: </b> {{data.service}}<br><br>
      
      <div style="position: absolute; right: 0;"> For any changes in profile, contact admin at admin@az.com</div>
      <br>
      <div class="ser-hist">
      <h3>Service History</h3>
      {% for service in data.history %}<br>
        <div class="ser-hist-div">
          <div>{{service.service_id}}</div>
          <div>{{service.package_name}}</div>
          <div>{{service.time}} {{service.date}}</div>
          <div>{{service.price}}</div>
          <div>{{service.duration}}</div>
          <div>{{service.location}}</div>
          <div>{{service.description}}</div>
          <div>{{service.cust_name}}</div>
          <div>{{ service.status }}</div>
        </div>
      {% endfor %}
      <div style="position: fixed; bottom:0; right: 0;">For any reports of fraud or concerns, contact admin at admin@az.com</div>
    {% endblock %}

  {% block script %}
  <script src="{{ url_for('static', filename='js/prof_dashboard.js') }}"></script>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cust_profile.css') }}"> 
  {% endblock %}